<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Dealigence | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      This is the About Us page for Dealigence Inc.
      Under Constuction
    </p>
  </body>
</html>
