<% provide(:title, 'Categories') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Dealigence | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Categories</h1>
    <p>
      This is the Categories page for Dealigence Inc.
      Under Constuction
    </p>
  </body>
</html>
