<% provide(:title, 'Contact Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title> Dealigence | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Page Under Construction.
To Contact us email dealigence@gmail.com
    </p>
  </body>
</html>
