<% provide(:title, 'FAQ') %>
<!DOCTYPE html>
<html>
  <head>
    <title> Dealigence | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>FAQ</h1>
    <p>
      Page Under Construction.
If you have questions please email dealigentsolutions@gmail.com
    </p>
  </body>
</html>
